body {
  padding: 16px;
  background-color: rgb(46, 46, 46);
  color: bisque;
  font-family: 'Arial', Courier, monospace;
}
#chat-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}
#chat-info .chatting-with {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#chat-info .chatting-with span {
  flex: 1;
  text-align: right;
}
#chat-info .chatting-with input {
  flex: 1;
  max-width: 180px;
  margin: 0;
  padding: 5px 10px;
}
#chat-info .chat-id {
  flex: 1;
}
#chat-ui,
#trash {
  position: absolute;
  bottom: 60px;
  left: 0;
  padding: 8px;
  width: 100%;
  max-height: calc(100% - 120px);
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}
.chat-input {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  background-color: black;
}
.chat-input > input {
  flex: 6;
}
.chat-input > button {
  flex: 2;
}

button {
  background-color: none;
}

.message-container {
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  transition: height 200ms ease-in-out;
}
.message-container > p {
  transition: 
    transform 300ms ease-in-out,
    opacity 300ms ease-in-out;
  }
.message-container.out p {
  opacity: 0.8;
  transform: scale(0.8);
}
p {
  padding: 10px 25px;
  max-width: 50%;
  overflow-wrap: break-word;
  display: inline-block;
  border-radius: 16px;
  color: white;
  margin: 0;
  margin-top: 8px;
  box-sizing: border-box;

  animation-name: appear;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-iteration-count: 1;
}
p.sent {
  background-color: #17895c;
  float: right;
}
p.received {
  background-color: black;
  float: left;
}

#trash {
  transform: translateY(105%);
}

@keyframes appear {
  0% {
    opacity: 0.6;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}